$cBase:aliceblue;
$c1: #38a1d9;
$c2: #059bcc;
$c3: #11439d;
$c4: #06267c;
$c5: #220a69;

body {
  background-color: $cBase;
}

.title {
  border-radius: 10px;
  background-color: $c4;
  color: aliceblue;
  padding: 20px 50px;
  position: relative;
  width: 400px;
  height: 120px;
  margin: 0 auto 80px;

  &::before,
    &::after {
      content: '';
      position: absolute;
      transform: rotate(-35deg);
      width: 90px;
      height: 30px;
      background-color: $cBase;
      z-index: 1;
    }

    &::before {
      top: -10px;
      left: -30px;
      border-bottom: 1px solid gray;
    }
    &::after {
      bottom: -10px;
      right: -30px;
      border-top: 1px solid gray;
    }

  &__main {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 3px;
  }

  &__sub {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
  }
}

.grid {
  margin: 0 30px 180px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  .card {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &__head {
      &--title {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 15px;
        background: linear-gradient(transparent 70%, #11439d 90%);
      }
      &--desc {
        font-size: 18px;
        background: linear-gradient(transparent 70%, #059bcc 90%);
      }
    }

    &__body {
      &--text {
        letter-spacing: 0.5px;
        margin-top: 15px;
      }
    }
  }
}
