/******************************************************************

Stylesheet: 960px以上のモニタで適用

pc用（ラップトップ以上）のスタイル定義！
pc用（ラップトップ以上）のスタイル定義！！
pc用（ラップトップ以上）のスタイル定義！！！

******************************************************************/
// フォント専用クラス
.font-sm {
  font-size: 16px; //small size
}
.font-md {
  font-size: 19px; //middle size
}
.font-lr {
  font-size: 23px; //larger size
}
.font-lg {
  font-size: 30px; //large size
}

// margin専用クラス
.mb-lg {
  margin-bottom: 96px;
}

// padding専用クラス
.pb-lg {
  padding-bottom: 96px;
}

header {
  padding: 0;
  #nav-drawer {
    display: none;
  }
  #nav-bar {
    display: block;
    .nav {
      &__wrapper {
        display: flex;
        justify-content: space-between;
      }
      &__logo {
        display: flex;
        flex-direction: row;
      }
      &__img > a > img {
        width: 100px;
      }
      &__title {
        & > h1 {
          font-size: 32px;
          margin: 0;
        }
        margin-left: 15px;
        align-self: center;
      }
      &__menu {
        display: flex;
        align-self: center;
        ul {
          list-style: none;
          margin: 0;
          padding: 15px;
        }
      }
      &__list {
        & > a {
          text-decoration: none;
        }
      }
    }
  }
}
