/******************************************************************

Stylesheet: ベーススタイル

※基本的にスマホ用のスタイルを定義！
※基本的にスマホ用のスタイルを定義！！
※基本的にスマホ用のスタイルを定義！！！

******************************************************************/
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Josefin Slab', serif;
}

// フォント専用クラス
.font-sm {
  font-size: 14px;  //small size
}
.font-md {
  font-size: 17px;  //middle size
}
.font-lr {
  font-size: 17px;  //larger size
}
.font-lg {
  font-size: 25px;  //large size
}

// margin専用クラス
.mb-sm {
  margin-bottom: 16px;
}
.mb-lg {
  margin-bottom: 48px;
}

// padding専用クラス
.pb-sm {
  padding-bottom: 16px;
}
.pb-lg {
  padding-bottom: 48px;
}

// 要素幅と余白調整用クラス
// .content-width {
//   width: 90%;
//   margin: 0 auto;
//   max-width: $contentMaxWidth;
// }
