body {
  margin: 0 auto;
}


.section {
  &__wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  &__title {
    margin: 50px 0 0 10px;
  }
}

.content {
  &__width {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__wrapper {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto 40px;
  }
  &__sentence {
    margin-right: auto;
  }
}

// ------------------ ヘッダー -------------------------
header {
  padding: 10px;
  // background: skyblue;
  margin-bottom: 20px;
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100px;
  #nav-bar {
    display: none;
  }
  #nav-drawer {
    position: relative;

    /*アイコンのスペース*/
    #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;

      & span {
        &:before {
          bottom: -8px;
        }
        &:after {
          bottom: -16px;
        }
      }
    }

    /*チェックボックスは常に非表示*/
    .nav-unshown {
      display: none;
    }

    /*ハンバーガーアイコン*/
    #nav-open span,
    #nav-open span:before,
    #nav-open span:after {
      position: absolute;
      height: 3px; /*線の太さ*/
      width: 25px; /*長さ*/
      border-radius: 3px;
      background: #555;
      display: block;
      content: "";
      cursor: pointer;
    }

    /*画面マスク. マスクをクリックするとdrawerを閉じる*/
    #nav-close {
      display: none; /*初期は非表示*/
      position: fixed;
      z-index: 99;
      top: 0; /*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out;
    }

    /*中身*/
    #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999; /*最前面に持ってくるので,画面マスクより大きい値を設定*/
      width: 90%; /*drawerメニューをタッチしても閉じないため,右側に隙間を作る（閉じるカバーを表示）*/
      max-width: 300px; /*drawerメニューの最大幅.適宜調整*/
      height: 50vh;
      background: lightblue;
      transition: 0.3s ease-in-out; /*draweのアニメーション設定*/
      -webkit-transform: translateX(-105%);
      transform: translateX(
        -105%
      ); /*初期状態では,window外の左側に配置して隠す*/
    }

    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block; /*画面マスクを表示*/
    }

    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); /*drawerを表示（右へスライド）*/
      box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
    }
  }
}
// ------------------メニューリスト-------------------------
.list {
  display: none;
}

// ------------------メニューカード-------------------------
.menu {
  display: flex;
  flex-direction: column;
  .content {
    &__card {
      margin: 20px auto;
      min-width: 288px;
      max-width: 300px;
      background-color: aliceblue;
    }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__names {
      display: flex;
      flex-direction: column;
      border-left: 3px solid tomato;
    }

    &__name {
      padding-left: 10px;
      &:nth-child(2) {
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }

    &__price {
      align-self: center;
      background: linear-gradient(transparent 50%, tomato 80%);
    }

    &__description {
      margin: 10px auto 0;
    }
  }
}

// ------------------ スタッフカード------------------------
.staff {
  display: flex;
  flex-direction: column;
  .content {
    &__card {
      &:first-child {
        margin: 10px auto;
      }
      padding: 10px;
      margin: 20px auto;
      width: 100%;
      min-width: 288px;
      max-width: 300px;
      background-color: aliceblue;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 15px;
    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 10px;
    }

    &__names {
      display: flex;
      flex-direction: row;
    }
    &__name {
      display: block;
      &:last-child {
        margin-bottom: 10px;
      }
    }
    &__message {
      margin-top: auto;
    }

    &__img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      overflow: hidden;
      object-position: 50% 50%; // デフォルト値の中心位置を明示的に指定
      background-image: url(../images/staff/michinari_kojya.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      &#hitomi {
        background-image: url(../images/staff/hitomi_mine.jpg);
      }
      &#mariyo {
        background-image: url(../images/staff/mariyo_oshiro.jpg);
      }
    }
  }
}

// ------------------ コンタクト----------------------------
.contact {
  table,
  td,
  th {
    border: 1px solid #595959;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 3px;
    width: 30px;
    height: 25px;
  }
  th {
    background: #f0e6cc;
  }
  .even {
    background: #fbf8f0;
  }
  .odd {
    background: #fefcf9;
  }
}

// ------------------ アクセス -----------------------------
// ------------------ ほぼGoogleMapの調整 ------------------
.access {
  &__map {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; //アスペクト比 = 16:9
    margin: 10px;
    &__inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: hidden; //paddingではみ出る部分を隠す
    }
  }
}

// ------------------ お客様の声 ---------------------------
.customer {
  display: flex;
  flex-direction: column;
  .content {
    &__card {
      margin: 10px auto;
      width: 100%;
      min-width: 288px;
      max-width: 300px;

      background-color: aliceblue;
    }
    &__info {
      margin: 0 auto;
      padding: 5px;
    }
    &__number,
    &__name {
      margin: 0;
    }
    &__letter {
      display: block;
      margin: 0 auto 20px;
    }
  }
}

// ------------------- ギャラリー ---------------------------

// ------------------- hairswitchの紹介 --------------------

// ------------------- 求人 --------------------------------
// ./modules/table.scssから読み込み

// ------------------- カットモデル募集 ----------------------

// ------------------- 成人式 ------------------------------
