.recruit {
  .content {
    &__table {
      table-layout: fixed;
      width: 100%;
      border-top: 1px solid black;
    }
    &__row {
      border-bottom: 1px solid black;
      // & .row1 {
      // }
      // & .row2 {
      // }
      // & .row3 {
      // }
    }
    &__col {
      &.col1 {
        padding: 10px 10px 10px 0;
        width: 80px;
        border-right: 1px solid black;
        // background-color: green;
      }
      &.col2 {
        padding: 10px 0 10px 10px;
      }
    }
  }
}
